<div class="user-page-section">
    <div class="user-page-wr fade-in">
        <!--User details -->
        <app-user-details [userDetails]="user"></app-user-details>

        <!--User projects -->
        <div class="project-wr">
            <h3>All projects</h3>
            <div *ngIf="projectModels.length < 1">
                <p>This user has no projects</p>
            </div>
            <app-project-list class="landing-list">
                <app-project-item class="landing-item" *ngFor="let projectData of projectModels" [projectModel]="projectData" />
            </app-project-list>
        </div>

    </div>

</div>
