<div class="user-page-section">
    <div class="user-page-wr fade-in">
        <!--User details -->
        <app-user-details [userDetails]="user"></app-user-details>

        <!--User projects -->
        <h3 *ngIf="user?.profileVisibility != 'PRIVATE'">All projects</h3>
        <app-project-list class="landing-list">
            <app-project-item class="landing-item" *ngFor="let projectData of projectModels"
                [projectModel]="projectData" />
        </app-project-list>

    </div>

</div>
