<div class="form-wr">
    <mat-icon class="exitIcon" (click) = "onExitClick()">close</mat-icon>
    <div class="form">
        <h3>Sign up</h3>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <button>Create account</button>
    </div>
    <div>
        <h5>------ Or -------</h5>
    </div>
    <div class="form">
        <h3>Sign in</h3>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <button>Login</button>
    </div>
</div>