.form-wr{
    background-color: white;
    width: 40%;
    border-radius: 10px;
    margin: auto;
}

.exitIcon{
    float: right;
}

.form-wr h5{
    text-align: center;
}

.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 70%;
}