/* Logo font */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

header{
    background-color: #25335c;
    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-wr{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.donutIcon{
    color: #4f91b7;
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.profileIcon{
    font-size: 40px;
    color: white;
}

.logo{
    font-family: 'Paytone One', sans-serif;
    color: white;
    margin: 0;
}

.profileBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: white;
    font-size: smaller;
    transition: all .5s ease;
}

.loginBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.widthIcon:hover{
    color: #4f91b7;
}

.navDiv{
    display: flex;
    gap: 1rem;
    align-items:flex-start;
}