<header>
  <a class="logo-wr" (click)="homeOnClick()">
    <mat-icon class="donutIcon">donut_large</mat-icon>
    <h1 class="logo">lagalt</h1>
  </a>
  <div *ngIf="!isLoggedIn()">
    <button class="btn btn-blue loginBtn" (click)="onLoginClick()"><mat-icon class="btnIcon">lock</mat-icon>Login</button>
  </div>
  <div *ngIf="isLoggedIn()" class="navDiv">
    <p class="color-white fade-in-right welcome">Welcome <b>{{this.userName}}!</b></p>
      <a routerLink="profile" class="profileBtn"><span class="material-symbols-rounded profileIcon">
        person
        </span></a>
      <app-drop-down></app-drop-down>
  </div>
</header>

<router-outlet></router-outlet>
