
<!--Search form-->
<div class="search-section">
    <h1>Browse projects</h1>
    <app-search-form (search)="handleSearch($event)"></app-search-form>
</div>

<!--Side category bar-->

<div class="project-section">
    <div class="col-1">
        <div class="category-wr">
            <h3>Category</h3>
            <div class="category-btns">
                <button (click)="onCategoryClicked('GAME')"><span class="material-symbols-rounded">sports_esports</span>Game</button>
                <button (click)="onCategoryClicked('FILM')"><span class="material-symbols-rounded">theaters</span>Film</button>
                <button (click)="onCategoryClicked('WEB')"><span class="material-symbols-rounded">public</span>Web</button>
                <button (click)="onCategoryClicked('MUSIC')"><span class="material-symbols-rounded">music_note</span>Music</button>
            </div>
        </div>
    </div>

<!--Project list -->
    <div class="col-2">
        <div class="project-div">
            <div *ngIf="isLoggedIn()">
                <p>Inloggad user: {{userName}}</p>
            </div>

            <h2>All projects</h2>
            <div class="project-list-wr">
                <app-project-list class="landing-list">
                    <app-project-item class="landing-item" *ngFor="let projectData of projectModels"
                        [projectModel]="projectData" />
                </app-project-list>
            </div>
        </div>
    </div>
</div>