
/*--- search section --- */ 

.search-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 10rem 0rem;*/
    padding-bottom: 15rem;
    padding-top: 8rem;
    gap: 2rem;
    background-color: #25335c;
    opacity: 1;
    /*clip-path: polygon(100% 0%, 0% 0% , 0.00% 79.35%, 1.67% 78.91%, 3.33% 78.45%, 5.00% 78.00%, 6.67% 77.56%, 8.33% 77.13%, 10.00% 76.72%, 11.67% 76.33%, 13.33% 75.98%, 15.00% 75.67%, 16.67% 75.40%, 18.33% 75.18%, 20.00% 75.01%, 21.67% 74.89%, 23.33% 74.83%, 25.00% 74.83%, 26.67% 74.88%, 28.33% 74.98%, 30.00% 75.15%, 31.67% 75.36%, 33.33% 75.62%, 35.00% 75.93%, 36.67% 76.27%, 38.33% 76.65%, 40.00% 77.06%, 41.67% 77.49%, 43.33% 77.93%, 45.00% 78.38%, 46.67% 78.83%, 48.33% 79.28%, 50.00% 79.71%, 51.67% 80.12%, 53.33% 80.50%, 55.00% 80.85%, 56.67% 81.16%, 58.33% 81.43%, 60.00% 81.66%, 61.67% 81.83%, 63.33% 81.94%, 65.00% 82.00%, 66.67% 82.01%, 68.33% 81.96%, 70.00% 81.85%, 71.67% 81.69%, 73.33% 81.47%, 75.00% 81.21%, 76.67% 80.91%, 78.33% 80.56%, 80.00% 80.18%, 81.67% 79.78%, 83.33% 79.35%, 85.00% 78.91%, 86.67% 78.45%, 88.33% 78.00%, 90.00% 77.56%, 91.67% 77.13%, 93.33% 76.72%, 95.00% 76.33%, 96.67% 75.98%, 98.33% 75.67%, 100.00% 75.40%);
*/
clip-path: polygon(100% 0%, 0% 0% , 0.00% 93.02%, 1.67% 92.57%, 3.33% 92.12%, 5.00% 91.67%, 6.67% 91.23%, 8.33% 90.80%, 10.00% 90.39%, 11.67% 90.00%, 13.33% 89.65%, 15.00% 89.34%, 16.67% 89.07%, 18.33% 88.85%, 20.00% 88.68%, 21.67% 88.56%, 23.33% 88.50%, 25.00% 88.49%, 26.67% 88.55%, 28.33% 88.65%, 30.00% 88.82%, 31.67% 89.03%, 33.33% 89.29%, 35.00% 89.60%, 36.67% 89.94%, 38.33% 90.32%, 40.00% 90.73%, 41.67% 91.16%, 43.33% 91.60%, 45.00% 92.05%, 46.67% 92.50%, 48.33% 92.94%, 50.00% 93.38%, 51.67% 93.79%, 53.33% 94.17%, 55.00% 94.52%, 56.67% 94.83%, 58.33% 95.10%, 60.00% 95.32%, 61.67% 95.50%, 63.33% 95.61%, 65.00% 95.67%, 66.67% 95.68%, 68.33% 95.63%, 70.00% 95.52%, 71.67% 95.36%, 73.33% 95.14%, 75.00% 94.88%, 76.67% 94.58%, 78.33% 94.23%, 80.00% 93.85%, 81.67% 93.45%, 83.33% 93.02%, 85.00% 92.57%, 86.67% 92.12%, 88.33% 91.67%, 90.00% 91.23%, 91.67% 90.80%, 93.33% 90.39%, 95.00% 90.00%, 96.67% 89.65%, 98.33% 89.34%, 100.00% 89.07%);
}

/* --- search result section --- */

.search-result-section{
    padding: 0rem 10rem;
}

.search-section h1{
    font-size: 2rem;
    color: white;
}

.search-filter-wr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.search-filterDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.resultsFound{
    border: 5px solid red;
}

/*--- Project section ---*/

.project-section{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 1rem;
}

/*--- col 1 ---- */

.col-1{
    border-right: 1px solid rgb(221, 221, 221);
    height: 100%;
    width: 20%;
}

.col-1 h3{
    margin-bottom: 3rem;
    color: #808080; 
}

.col-1 button{
    font-family: 'Manrope', sans-serif;
    color: #808080; 
    width: 80%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 1.5rem;
    transition: 2 ease;
    background-color: #f5f9fc;
}

.col-1 .icon{
    font-size: 1.2rem;
    color: gray;
}

.category-wr{
    width: 30%;
    margin: auto;
}

.category-btns{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.col-1 button:hover{
    transform: translateY(-0.40em);
}

.project-div{
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;
}


/* project item */ 

.project-list-wr{
    width: 100%;
    margin-top: 3rem;
}

