
<!--Search form-->
<div class="search-section">
    <h1>Browse projects</h1>
    <app-search-form (search)="handleSearch($event)"></app-search-form>
</div>

<!--Side category bar-->

<div *ngIf="!this.searchBtnClicked">
<div class="project-section">
    <div class="col-1">
        <div class="category-wr">
            <h3>Category</h3>
            <div class="category-btns">
                <button (click)="onCategoryClicked('GAME')"><span class="material-symbols-rounded">sports_esports</span>Game</button>
                <button (click)="onCategoryClicked('FILM')"><span class="material-symbols-rounded">theaters</span>Film</button>
                <button (click)="onCategoryClicked('WEB')"><span class="material-symbols-rounded">public</span>Web</button>
                <button (click)="onCategoryClicked('MUSIC')"><span class="material-symbols-rounded">music_note</span>Music</button>
            </div>
        </div>
    </div>

<!--Project list category -->
    <div class="col-2">
        <div class="project-div">
            <h3 class="color-gray">All projects</h3>
            <div class="project-list-wr">
                <app-project-list class="landing-list">
                    <app-project-item class="landing-item" *ngFor="let projectData of projectModels"
                        [projectModel]="projectData" />
                </app-project-list>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Project list search -->
<div *ngIf="this.searchBtnClicked" class="search-result-section">
    <div class="search-filter-wr">
        <div class="search-filterDiv">
            <div><button class="btn" 
                [class.btn-blue]="usersFound" 
                [class.btn-gray]="!usersFound"
                (click)="filterUserClick()">
                Users 
                ({{userModels.length}})</button>
            </div>
            <div><button class="btn" 
                [class.btn-blue]="projectsFound" 
                [class.btn-gray]="!projectsFound"
                (click)="filterProjectClick()">
                Projects 
                ({{projectModels.length}})</button>
            </div>
        </div>
        <div>
            <h3>Search results for '{{this.searchTerm}}'</h3>
        </div>
    </div>

    <!--Users-->
    <div *ngIf="usersFound && filterUser">
        <app-project-list class="landing-list">
            <app-user-item *ngFor="let userData of userModels" [userModel]="userData" />
        </app-project-list>
    </div>
    <!--Projects -->
    <div *ngIf="projectsFound && !filterUser">
        <div class="project-list-wr">
            <app-project-list class="landing-list">
                <app-project-item class="landing-item" *ngFor="let projectData of projectModels"
                    [projectModel]="projectData" />
            </app-project-list>
        </div>
    </div>

</div>