
<!--Search form-->
<div class="search-section">
    <h1>Browse projects</h1>
    <app-search-form (search)="handleSearch($event)"></app-search-form>
</div>

<!--Side category bar-->

<div class="project-section">
    <div class="col-1">
        <h3>Category</h3>
        <div class="category-btns">
            <button (click)="onCategoryClicked('GAME')"><mat-icon class="icon">videogame_asset</mat-icon>Game</button>
            <button (click)="onCategoryClicked('FILM')"><mat-icon class="icon">local_movies</mat-icon>Film</button>
            <button (click)="onCategoryClicked('WEB')"><mat-icon class="icon">computer</mat-icon>Web</button>
            <button (click)="onCategoryClicked('MUSIC')"><mat-icon class="icon">music_note</mat-icon>Music</button>
        </div>
    </div>

<!--Project list -->
    <div class="col-2">
        <div class="project-div">
            <div *ngIf="isLoggedIn()">
                <p>Inloggad user: {{userName}}</p>
            </div>

            <h2>All projects</h2>
            <div class="project-list-wr">
                <app-project-list class="landing-list">
                    <app-project-item class="landing-item" *ngFor="let projectData of projectModels"
                        [projectModel]="projectData" />
                </app-project-list>
            </div>
        </div>
    </div>
</div>