<!-- A form with fields for every attribute of a new project, and a submission button: -->
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    
    <h3>Project Title</h3>
    <input type="text"
    ngModel
    name="title"
    id = "title"
    required
    placeholder="Provide your title">
    <p></p>
    
    <h3>Description</h3>
    <input type="text"
    ngModel
    name="description"
    id = "description"
    required
    placeholder="Provide a description ">
    <p></p>

    <h3>Category</h3>
    <select ngModel required name="category" id="category">
        <option value="GAME">Game</option>
        <option value="MUSIC">Music</option>
        <option value="FILM">Film</option>
        <option value="WEB">Web</option>
    </select>
    <p></p>

    <h3>GitHub Link</h3>
    <input type="text"
    ngModel
    name="git"
    id = "git"
    required
    placeholder="Provide a GitHub Link">
    <p></p>


    <button type="submit" [disabled]="myForm.form.invalid">Add New Project</button>
</form>
<button (click)="onGoBack()">Back To Profile</button>