<!-- A form with fields for every attribute of a new project, and a submission button: -->
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    
    <p class="color-light-blue small-title">Project Title</p>
    <input type="text"
    ngModel
    name="title"
    id = "title"
    required
    placeholder="Provide your title">
    <p></p>
    
    <p class="color-light-blue small-title">Description</p>
    <textarea ngModel name="description" id="description" required placeholder="Provide a description ">
    </textarea>
    <p></p>

    <p class="color-light-blue small-title">Category</p>
    <select ngModel required name="category" id="category">
        <option value="GAME">Game</option>
        <option value="MUSIC">Music</option>
        <option value="FILM">Film</option>
        <option value="WEB">Web</option>
    </select>
    <p></p>

    <p class="color-light-blue small-title">Github link</p>
    <input type="text"
    ngModel
    name="git"
    id = "git"
    required
    placeholder="Provide a GitHub Link">
    <p></p>


    <div class="btn-wr">
        <button class="btn btn-blue" type="submit" [disabled]="myForm.form.invalid">Add project</button>
        <button class="btn btn-white" (click)="onGoBack()">Cancel</button>
    </div>
</form>
