.m-0{
    margin: 0;
}

.motivation-div{
    background-color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-div{
    display: flex;
    gap: 1rem;
}

.requestBtn{
    border: none;
    border-bottom: 1px solid black;
    background-color: #f5f9fc;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
}