.btn-div{
    display: flex;
    gap: 1rem;
}

.requestBtn{
    border: none;
    border-bottom: 1px solid black;
    background-color: #f5f9fc;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
}