<div class="project-details-section">
    <div class="project-details-wr">
        <div>
            <span class="material-symbols-rounded codeIcon">code</span>
        </div>
        <div>
            <div class="col-1">
                <h3>{{projectDetails?.title}}</h3>
                <p class="category">{{projectDetails?.category}}</p>
            </div>
            <div class="project-details">
                <div class="col">
                    <p class="small-title color-light-blue">Owner</p>
                    <p>{{projectOwner?.username}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Collaborators</p>
                    <p>{{collaboratorLength}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Description</p>
                    <p>{{projectDetails?.descriptions}}</p>
                </div>
                <div>
                    <p class="small-title color-light-blue">Link</p>
                    <p>{{projectDetails?.gitlink}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="!isCollaborator && !isPending && projectDetails?.userId !== user?.id && user != null">
            <button class="btn btn-blue" (click)="onCollabButton()">Join project</button>
        </div> 
        <div *ngIf="isCollaborator && !isPending">
            <button class="btn btn-gray">Collaborator</button>
        </div>
        <div *ngIf="isPending">
            <button class="btn btn-gray">Pending request</button>
        </div>
    </div>
</div>
