.project-details-section{
    color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
    margin-bottom: 2rem;
}

.project-details-wr{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;

}

.project-details{
    display: flex;
    gap: 2rem;
}

.col-1{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.category{
    margin: 0;
    background-color: var(--secondary-blue-color);
    color: white;
    /*display: inline-block;*/
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.project-details .col{
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10vw;
}

p{
    margin: 0;
}

.codeIcon{
    font-size: 5rem;
}

.requestBtn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    background-color: #25335c;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.editBtn .material-symbols-rounded{
    color: white;
}

.editBtn:hover{
    color: #4f91b7;
    cursor: pointer;
}


.motivation-div{
    border: 4px solid rgb(230, 230, 230);
    border-radius: 8px;
    position: absolute;
    background-color: #f5f9fc;
    top: 50%;
    left: 25%;
    width: 50%;
    padding: 5rem;
}

.motivation-div .col-1{
    display: flex;
    flex-direction: column;

}

.motivation-div textarea{
    font-family: 'Manrope', sans-serif;
    border: none;
}

.motivation-div form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.btn-wr{
    display: flex;
    gap: 1rem;
}

.character-limit-exceeded{
    color: red;
}

