.project-details-section{
    color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-bottom: 0.5px solid black;
    margin-bottom: 2rem;
    align-items: flex-end;
}

.project-details-wr{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    width: 100%;

}

.project-details{
    display: flex;
    gap: 2rem;
}


.col-1{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.desc{
    margin-bottom: 1rem;
    max-width: 700px;
}

.category{
    margin: 0;
    background-color: var(--secondary-blue-color);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.project-details .col{
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 2rem;
}

p{
    margin: 0;
}

.codeIcon{
    font-size: 5rem;
}

.requestBtn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    background-color: #25335c;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.editBtn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    background-color: white;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.editBtn:hover{
    color: #4f91b7;
    cursor: pointer;
}

.form-section{
    margin-bottom: 3rem;
}

.form-section form{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 2rem;
}

.form-section .col-1{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.form-section .col-1 div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-section button{
    display: inline-block;
}

.form-section input, .form-section select, .form-section textarea{
    border-radius: 8px;
    padding: 0.5rem;
    font-family: 'Manrope', sans-serif;
    border: 1px solid rgb(230, 230, 230);
}

.form-section input:focus, .form-section select:focus, .form-section textarea:focus{
    outline: none;
}

.form-section input{
   min-width: 300px;
    
}


.motivation-div{
    border: 4px solid rgb(230, 230, 230);
    border-radius: 8px;
    position: absolute;
    background-color: #f5f9fc;
    top: 50%;
    left: 25%;
    width: 50%;
    padding: 5rem;
}

.motivation-div .col-1{
    display: flex;
    flex-direction: column;

}

.motivation-div textarea{
    font-family: 'Manrope', sans-serif;
    border: none;
}

.motivation-div form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.btn-wr{
    display: flex;
    gap: 1rem;
}

.character-limit-exceeded{
    color: red;
}

.owner{
    cursor: pointer;
}

@media only screen and (max-width: 375px) {

    .codeIcon{
        display: none;
    }
    
    .project-details-section{
        flex-direction: column;
        padding-bottom: 1rem;
    }
    
    .project-details-wr{
        gap: 0rem;
    }
    
    .project-details{
        gap: 1rem;
        flex-direction: column;
    }
    
    .project-details .col{
        width: auto;
        padding-right: 0.5rem;
        border: none;
    }

    .motivation-div{
        top: 20%;
        left: 15%;
        padding: 2rem;
    }

    .motivation-div textarea{
        width: 100%;
    }

    .form-section .col-1{
        flex-direction: column;
    }

    .form-section textarea{
        width: 80%;
    }
}



