<div class="project-details-section">
    <div class="project-details-wr">
        <div>
            <span class="material-symbols-rounded codeIcon">code</span>
        </div>
        <div>
            <div class="col-1">
                <h3>{{projectDetails?.title}}</h3>
                <p class="category">{{projectDetails?.category}}</p>
            </div>
            <div class="project-details">
                <div class="col">
                    <p class="small-title color-light-blue">Owner</p>
                    <p>{{projectOwner?.username}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Collaborators</p>
                    <p>{{collaboratorLength}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Description</p>
                    <p>{{projectDetails?.descriptions}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Link</p>
                    <p>{{projectDetails?.gitlink}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Status</p>
                    <p>{{convertProgress(projectDetails?.status)}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="projectDetails?.userId == user?.id">
            <button class="editBtn" (click)="showEditElem()"><span class="material-symbols-rounded">
                edit
                </span>Edit</button>
        </div>
    </div>
    <div>
        <div *ngIf="!isCollaborator && !isPending && projectDetails?.userId !== user?.id && user != null">
            <button class="btn btn-blue" (click)="collabClicked=true">Join project</button>
        </div> 
        <div *ngIf="isCollaborator && !isPending">
            <button class="btn btn-gray">Collaborator</button>
        </div>
        <div *ngIf="isPending">
            <button class="btn btn-gray">Pending request</button>
        </div>
    </div>
</div>

<div *ngIf="editBtnClicked">
    <div class="form-section">
        <!-- Edit My Profile has a ngForm that maps to onSubmit in the profile page component. The whole ngForm is sent there and the user input is extracted. -->
        <h3>Edit project</h3>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <p class="color-light-blue">Description</p>
            
            <textarea [(ngModel)]="description" name="desc" id="desc" rows="4" cols="50" resize="false"
                maxlength="200"></textarea>
        
            <div *ngIf="description.length > 199" class="character-limit-exceeded">
                <p class="small-title">Character limit exceeded (max 200 characters).</p>
            </div>

            <p class="color-light-blue">Status</p>
            <select ngModel required name="status" id="status">
                <option value="NOT_STARTED">Founding</option>
                <option value="IN_PROGRESS">In progress</option>
                <option value="COMPLETED">Completed</option>
            </select>

            <p class="color-light-blue">Gitlink</p>
            <input type="text" ngModel id="link" name="link">

            <button class="btn btn-blue" type="submit">Save</button>
        </form>
    </div>

</div>












<div *ngIf="collabClicked" class="motivation-div">
    <form #myForm="ngForm" (ngSubmit)="onCollabSubmit(myForm)">
        <div class="col-1">
            <p class="color-light-blue">Enter a motivation:</p>
            <textarea [(ngModel)]="motivation" name="motivation" id="motivation" rows="8" cols="80" resize="false"
                maxlength="200" required></textarea>
                <div *ngIf="motivation.length > 199" class="character-limit-exceeded">
                    <p class="small-title">Character limit exceeded (max 200 characters).</p>
                  </div>
        </div>
        <div class="btn-wr">
            <button type="submit" class="btn" [class.btn-gray]="myForm.form.invalid" [class.btn-blue]="!myForm.form.invalid" type="submit" [disabled]="myForm.form.invalid">Send request</button>
            <button class="btn btn-white" (click)="collabClicked=false">Cancel</button>
        </div>
    </form>

</div>
