.project-page-section{
    padding: 3rem 5rem;
    padding-bottom: 7rem;
}

.project-page-wr{
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid rgb(230, 230, 230);
    padding: 5rem;
    height: 100%;
}

.collab-div{
    margin-bottom: 3rem;
}

.collab{
    display: flex;
    gap: 1rem;
}

.deleteBtn-div{
    text-align: center;
    padding-bottom: 3rem;
}

.deleteBtn{
    border: 1px solid white;
    background-color: red;
    color: white;
}

.deleteBtn:hover{
    border: 1px solid red;
    color: black;
    background-color: white;
}

.delete-div{
    border: 4px solid rgb(230, 230, 230);
    border-radius: 8px;
    position: absolute;
    background-color: #f5f9fc;
    top: 30%;
    left: 30%;
    width: 30%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.delete-div .btn-wr{
    display: flex; 
    gap: 1rem;
}

@media only screen and (max-width: 375px) {

    .project-page-section{
        padding: 1rem 1rem;
        height: auto;
      }

    .project-page-wr{
        padding: 1rem 1rem;
    }  

    .delete-div{
        width: 50%;
        padding: 2rem;
        left: 15%;
        top: 100%;
    }
}