<div class="project-page-section">
    <div class="project-page-wr">
        <!--Project details -->
        <app-project-details [projectDetails]="project" [projectOwner]="projectOwner" [collaboratorLength]="acceptedUserModels.length"></app-project-details>

        <!--Comment section -->
        <app-comment-section [projectId]="project?.id"></app-comment-section>
    </div>

</div>

<h2>Collaborators</h2>
<div *ngFor="let user of acceptedUserModels">
    {{user.username}}
</div>

<!--  To make it so you cant join your own projects (Joining own projects is enabled to test functionality) -->
<!--  && project?.userId !== user?.id -->