.project-page-section{
    padding: 3rem 5rem;
    padding-bottom: 7rem;
    height: 100%;
}

.project-page-wr{
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid rgb(230, 230, 230);
    padding: 2rem 5rem;
    height: 100%;
}