<div class="project-page-section">
    <div class="project-page-wr">
        <!--Project details -->
        <app-project-details [projectDetails]="project" [projectOwner]="projectOwner"
            [collaboratorLength]="acceptedUserModels.length"
            [collaboratorModels]="collaboratorModels"></app-project-details>

        <!--Collaborators-->
        <h3>Collaborators</h3>
        <div *ngFor="let user of acceptedUserModels">
            {{user.username}}
        </div>

        <!--Comment section -->
        <app-comment-section [projectId]="project?.id"></app-comment-section>
    </div>

</div>

<div class="delete-div" *ngIf="this.projectOwner?.id != null && this.user?.id != null && this.projectOwner?.id == this.user?.id">
    <button class="btn deleteBtn" (click)="removeProject()">Delete project</button>
</div>