<div class="user-details-section">
    <div class="user-details-wr">
        <div>
            <span class="material-symbols-rounded userIcon">face_6</span>
        </div>
        <div>
            <div>
                <h3>{{userDetails?.fullname}}</h3>
            </div>
            <div class="user-details">
                <div class="col">
                    <p class="small-title color-light-blue">Username</p>
                    <p>{{userDetails?.username}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Projects</p>
                    <!--<p>{{userDetails?.projectsIds ? userDetails.projectsIds.length : 0}}</p>-->
                    <p>{{projectAmount}}</p>
                </div>
                <div class="col">
                    <p class="small-title color-light-blue">Skills</p>
                    <div class="skill-div">
                        <p *ngFor="let skill of this.userDetails?.skills">
                            {{skill}},&nbsp;
                        </p>
                    </div>
                </div>
                <div>
                    <p class="small-title color-light-blue">About</p>
                    <p>{{userDetails?.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="editBtnVisible()">
            <button class="editBtn" (click)="showEditElem()"><span class="material-symbols-rounded">
                edit
                </span>Edit</button>
        </div>
    </div>
</div>
<div *ngIf="editBtnClicked">
    <div class="form-section">
        <!-- Edit My Profile has a ngForm that maps to onSubmit in the profile page component. The whole ngForm is sent there and the user input is extracted. -->
        <h3>Edit profile</h3>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="form-inputs">
                <div>
                    <p class="color-light-blue">About</p>
                    <textarea placeholder="Write a description about you" ngModel name="desc" id="desc" rows="4"
                        cols="50" resize="false"></textarea>
                    <!--<input type="textarea" rows="4" cols="50" ngModel name="desc" id="desc" required placeholder="What do you want to do?">-->
                </div>
                <div>
                    <p class="color-light-blue">Skills</p>
                    <fieldset>
                        <input type="checkbox" ngModel id="java" name="JAVA"><label for="java">Java</label>
                        <input type="checkbox" ngModel name="JAVASCRIPT"><label for="javascript">Javascript</label>
                        <input type="checkbox" ngModel name="REACT"><label for="react">React</label>
                        <input type="checkbox" ngModel name="ANGULAR"><label for="angular">Angular</label>
                        <input type="checkbox" ngModel name="C"><label for="c">C</label>
                    </fieldset>
                </div>
            </div>
            <button class="btn btn-white" type="submit" [disabled]="myForm.form.invalid">Save</button>
        </form>
    </div>

</div>
