.user-details-wr{
    display: flex;
    align-items: center;
    color: white;
    gap: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.5px solid white;
    margin-bottom: 5rem;
}

.user-details{
    display: flex;
    gap: 2rem;
}

.user-details .col{
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10vw;
}

p{
    margin: 0;
}

.userIcon{
    font-size: 5rem;
    color: white;
}