<div class="comment-section">
    <!--Comment list -->
    <h3>Comments</h3>
    <div class="comment-list">
        <app-comment-item *ngFor="let commentData of commentModels" [commentModel]="commentData" (removeSignal)="readInComments()"/>
    </div>
    
    <!--Write comment-->
    <div *ngIf="canComment; else loggedOut" class="textfield-section">
        <div class="comment-user">
            <span class="material-symbols-rounded userIcon">face_6</span>
            <h4>{{user?.username}}</h4>
        </div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <textarea [(ngModel)]="comment" name="text" id="text" required placeholder="Leave a comment" resize="false" maxlength="250">
            </textarea>
            <div *ngIf="comment.length > 249" class="character-limit-exceeded">
                <p class="small-title">Character limit exceeded (max 250 characters).</p>
              </div>
            <button class="btn btn-blue" type="submit" [disabled]="myForm.form.invalid">Post</button>
        </form>
    </div>
    <ng-template #loggedOut>
        <span> Login to write a comment</span>
    </ng-template>
</div>
