<div class="comment-section">
    <!--Comment list -->
    <h3>Comments</h3>
    <div class="comment-list">
        <app-comment-item *ngFor="let commentData of commentModels" [commentModel]="commentData" (removeSignal)="readInComments()"/>
    </div>
    
    <!--Write comment-->
    <div *ngIf="user; else loggedOut" class="textfield-section">
        <div class="comment-user">
            <span class="material-symbols-rounded userIcon">face_6</span>
            <h4>{{user?.username}}</h4>
        </div>
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <textarea ngModel name="text" id="text" required placeholder="Leave a comment" resize="false">
            </textarea>
            <button class="btn btn-blue" type="submit" [disabled]="myForm.form.invalid">Post</button>
        </form>
    </div>
    <ng-template #loggedOut>
        <span> You are currently not logged in, to write a comment, please log in first.</span>
    </ng-template>
</div>
