.message-box {
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    border: 0.5px solid rgb(230, 230, 230);
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}

.message-header{
    display: flex;
    justify-content: space-between;
}

.message-text {
    margin: 8px 0;
    color: #555;
    max-height: 100px;
    overflow-y: auto;
    padding-right: 5px;
}

h5, h6 {
    margin: 0;
    line-height: 1.2;
}

.message-footer {
    display: flex;
    justify-content: space-between;
}

.from-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.unread {
    background-color: #E8F5E9; /* A light green to indicate unread */
    font-weight: bold;
}

