<!--Welcome the user and output their description-->
<h1>Welcome, {{user.username}}</h1>
<p>{{dummyDescription}}</p>

<!-- My Projects has a list of projects (project list), containing project-items. Every such item takes data from the list of project models. -->
<h2>My Projects</h2>
<app-project-list class="profile-list">
    <app-project-item *ngFor="let projectData of projectModels" [projectModel]="projectData" [role] = ""/>
</app-project-list>

<!-- Edit My Profile has a ngForm that maps to onSubmit in the profile page component. The whole ngForm is sent there and the user input is extracted. -->
<h1>Edit My Profile</h1>
<h2>Change Description</h2>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <input type="text"
    ngModel
    name="desc"
    id = "desc"
    required
    placeholder="What do you want to do?">
    <button type="submit" [disabled]="myForm.form.invalid">Submit Change</button>
</form>

<!-- Add A Project is simply a button that maps to the onClickAddProject function. The idea is that this function should navigate to a new page (see ER). -->
<h2>Add A Project</h2>
<button (click)="onClickAddProject()"> Create New Project </button>