
<div class="user-page-section">
    <div class="user-page-wr">
        <!--User details -->
        <app-user-details [userDetails]="user"></app-user-details>

        <!--User projects -->
        <div class="add-project-wr">
        <h3 class="color-white">All projects</h3>
        <button class="btn btn-blue" (click)="onClickAddProject()">Create project</button>
        </div>
        <app-project-list class="landing-list">
            <app-project-item class="landing-item" *ngFor="let projectData of projectModels"
                [projectModel]="projectData" />
        </app-project-list>

    </div>

</div>


<!-- My Projects has a list of projects (project list), containing project-items. Every such item takes data from the list of project models. -->
<h2>My Projects</h2>
<app-project-list class="profile-list">
    <app-project-item *ngFor="let projectData of projectModels" [projectModel]="projectData"/>
</app-project-list>


<!-- Add A Project is simply a button that maps to the onClickAddProject function. The idea is that this function should navigate to a new page (see ER). -->
<h2>Add A Project</h2>
<button (click)="onClickAddProject()"> Create New Project </button>