::ng-deep .project-list{
    display: flex;
    flex-direction: column;
}

.add-project-wr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.collab-wr{
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}