::ng-deep .project-list{
    display: flex;
    flex-direction: column;
}

.add-project-wr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.collab-wr{
    padding: 1rem;
    /*padding-bottom: 2rem;
    padding-top: 0.1rem;*/
    background-color: #f5f9fc;
    border-radius: 8px;
}