.search-filter-wr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.search-filterDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.user-item-list{
    display: flex;
    flex-wrap: wrap;
}

.user-item-wr{
    box-sizing: border-box;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: 0.5px solid rgb(230, 230, 230);
    width: calc((100% / 3) - 2rem);
    margin-bottom: 2rem;
    margin-right: 1rem;
}