.search-filter-wr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.search-filterDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}