
/* standard font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body{
    margin: 0;
    background-color: rgb(240, 239, 239);
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

:root{
    --primary-blue-color: #3d5afe;
}

.btn{
    transition: all .5s ease;
    background-color: #3d5afe;
    color: white;
    border: none;
    border-radius: 20px;
    width: 6rem;
    height: 40px;
    font-family: 'Manrope', sans-serif;
}

.btn:hover {
    color: var(--primary-blue-color);
    border: 1px solid var(--primary-blue-color);
    background-color: white;
}

header a:visited, header a:active, header a:link{
    text-decoration: none;
}
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
