.create-message-section{
    height: 100%;
}

.create-message-wr{
    background-color: white;
    border-radius: 8px;
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 1rem 3rem;
}