.comment-item{
    border-radius: 8px;
    background-color: white;
    border: 0.5px solid rgb(230, 230, 230);
    padding: 1.5rem 2rem 1rem;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
}
.comment-user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.col-1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.col-1 h4{
    margin: 0;
}

.col-1 p{
    margin: 0;
}

.removeBtn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    background-color: white;
    border: none;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.removeBtn:hover{
    color: #4f91b7;
}