<div (click)="onGotoClick(projectModel.id)" class="test fade-in">
    <!-- Render a title and a description: -->
    <div class="col-1">
            <h2 class="color-light-blue">{{projectModel?.title}}</h2>
        <p>{{projectModel?.descriptions}}</p>
    </div>
    
    <!-- Render the category: -->
    <div class="col-2">
        <p class="small-title category-title">{{projectModel?.category}}</p>
        <span *ngIf="collaborator">
            <p class="small-title collab-title">Collaborator</p>
        </span>

        <span *ngIf="owner">
            <p class="small-title collab-title">Owner</p>
        </span>
    </div>
</div>

