<div (click)="onGotoClick(projectModel.id)" class="test">
    <div class="col-1">
    <h2>{{projectModel?.title}}</h2>
    <p>{{projectModel?.descriptions}}</p>
    </div>
    <div class="col-2">
    <p class="small-title">{{projectModel?.category}}</p>
    </div>
    <!--<button *ngIf="projectModel?.owner" (click)= "onRemoveClick()"> Remove Project </button>
    <button *ngIf="!projectModel?.owner" (click)= "onRemoveClick()"> Leave Project </button>-->
    <span *ngIf="projectModel?.owner">Owner</span>
    <!--<span *ngIf="!projectModel?.owner">Collaborator</span>-->
</div>

